.bg-secondary {
    background-color: #071F2C !important;
}

.text-secondary {
    color: #071F2C !important;
}

@media (min-width: 992px) {
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        background-color: transparent;
        border-bottom: 3px solid #1F6097;
    }

        #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
            color: #fff;
            background: #0F3B61;
        }
}

#Web-Title {
    font-family: 'Kristen ITC';
}

.Web-my {
    font-family: 'Corbel';
    text-transform: lowercase;
    font-weight: lighter;
}
.bg-primary {
    background-color: #1F6097 !important;
}

#Owner-Name {
    text-shadow: 0 2px 4px #000;
}
.img-logo {
    width: 4rem;
}